<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google News Tech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}">
    <script src="{{ url_for('static', filename='javascript/articles.js')}}"></script>

</head>
<body>
    <h1>Latest {{ title }} News</h1>
    <ul class="article-list">
        {% for article in articles %}
        <li>
            <img src="{{ article.image_url }}" alt="Article Image" class="article-image">
            <div>
                <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                <div class="article-meta">
                    <span>Category: Tech</span>
                    <span>Published: {{ article.published }}</span>
                    <button class="summary-button" onclick="showSummary('{{ article.id }}', '{{ article.summary }}', '{{ article.audio_file }}', '{{ category }}')">Summary</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Summary Popup -->
    <div class="summary-popup" id="summaryPopup">
        <h2>Article Summary</h2>
        <button id="playAudioButton" onclick="playAudio()">Play Audio</button>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
            <div style="display: flex; justify-content: center; gap: 10px;">
                <button onclick="setPlaybackSpeed(1)">1x</button>
                <button onclick="setPlaybackSpeed(1.5)">1.5x</button>
                <button onclick="setPlaybackSpeed(2)">2x</button>
            </div>
            <audio id="audioPlayer" controls style="margin-top: 10px;">
                <source id="audioSource" src="" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
        </div>
        <p id="summaryContent"></p>
        <button class="summary-button" onclick="closeSummary()">Close</button>
    </div>
</body>
</html>