<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
    <script src="{{ url_for('static', filename='javascript/logs.js')}}"></script>

</head>
<body>
    <div class="sidebar">
        <button onclick="window.location.href='/logs?log_type=info'">
            <i class="fas fa-info-circle"></i> Info
        </button>
        <button onclick="window.location.href='/logs?log_type=warning'">
            <i class="fas fa-exclamation-triangle"></i> Warning
        </button>
        <button onclick="window.location.href='/logs?log_type=error'">
            <i class="fas fa-times-circle"></i> Error
        </button>
    </div>

    <div class="main-content" id="logsContainer">
        <h2>Showing {{ log_type | capitalize }} Logs</h2>

        <div class="log-container">
            {% if logs %}
                {% for log in logs %}
                <div class="log-line">
                    <script> document.write(colorizeLog('{{ log.rstrip() | safe }}')) </script> 
                </div>
                {% endfor %}
            {% else %}
                <p>No logs available for this type.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>